@model Aluno


<form asp-controller="Aluno" asp-action="InserirAluno" method="post">

    <div class="mb-3 col-md-4">
        <label class="form-label text-white">Nome</label>
        <input type="text" asp-for="Nome" class="form-control">
    </div>

    <div class="mb-3  col-md-2">
        <label  class="form-labe text-white">Cpf</label>
        <input type="text" asp-for="Cpf" class="form-control">
    </div>

    <div class="mb-3 col-md-2">
        <label class="form-label text-white">Matrícula</label>
        <input type="text" asp-for="Matricula" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary text-dark">Submit</button>

    <a class="btn btn-danger text-dark" type="button" asp-controller="Aluno" asp-action="Index">Voltar</a>
</form>